body {
  background-color:rgb(238, 237, 228);
}

form#form-group p {
  font-size: 1.2em;
}

.Q input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.Q label {
    display: block;
    background-color: rgb(232, 238, 240);
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid rgb(218, 230, 233);
    border-radius: 4px;
}

.Q label:hover {
  background-color: rgb(160, 238, 228);
}

.Q input[type="radio"]:checked + label {
    background-color: rgb(127, 168, 216);
    border-color: rgb(64, 87, 192);
}

img {
  width: 30%;
  margin: auto;
}

.result p {
  font-size: 1.6em;
}

.result {
  display: none;
}